<% if @movimentacoes.count > 0 %>
    <table class="table table-hover">
      <tr>
        <th>Data</th>
        <th>Tipo</th>
        <th>Valor</th>
      </tr>
      <% @movimentacoes.sort{|a,b| b.created_at <=> a.created_at }.each do |movimentacao| %>
          <tr>
            <td><%= movimentacao.created_at.strftime('%d/%m/%Y %H:%m:%S') %></td>
            <td><%= movimentacao.tipo == 'D' ? 'Depósito' : (movimentacao.tipo == 'S' ? 'Saque' : 'Trasferência')%></td>
            <td><%= (movimentacao.tipo=='D' ? '+' : (movimentacao.tipo=='T' && movimentacao.conta_dest_id == @conta.id ? '+' : '-'))+
                        number_to_currency(movimentacao.valor, unit: '') %></td>
          </tr>
      <% end %>
    </table>
    <div><h2>Saldo do período: <%=  number_to_currency(@conta.saldo_parcial(@movimentacoes)) %></h2></div>
    <div><h2>Saldo: <%= number_to_currency(@conta.saldo) %></h2></div>
<% else %>
<%=  "Nenhum dado encontrado neste período" %>
<% end %>