<h1>Extrato</h1>
<%= form_for [@cliente, @conta], remote: true, url: cliente_conta_extrato_show_path do |f| %>

    <div class="field">
      <%= label_tag 'Data inicial' %>
    </div>
    <div id='datetimepicker'>
      <%= select_date Date.today, prefix: :data_inicial, :start_year => Date.current.year, :end_year => 1920%>
    </div>

    <div class="field">
      <%= label_tag 'Data final'%>
    </div>
    <div id='datetimepicker'>
      <%= select_date Date.today, prefix: :data_final, :start_year => Date.current.year, :end_year => 1920  %>
    </div>

    <div class="field" style="padding-top:10px">
      <%= submit_tag 'Filtrar' %>
    </div>
<% end %>

<div id="tabela" class="table-responsive"></div>

<%= link_to 'Voltar', cliente_contas_path(@cliente)%>
