<h2>Comprovante de Movimentação</h2>
<div>
  <strong>Data:</strong> <%= @movimentacao.created_at.strftime('%d/%m/%Y') %>
</div>

<div>
  <strong>Tipo:</strong> <%= @movimentacao.tipo %>
</div>

<div>
  <strong>Valor:</strong> <%= @movimentacao.valor %>
</div>

<div>
  <strong>Conta Origem:</strong> <%= @movimentacao.conta_orig.nil? ? '-' : @movimentacao.conta_orig.codigo %>
</div>

<div>
  <strong>Conta Destino:</strong> <%= @movimentacao.conta_dest.nil? ? '-' : @movimentacao.conta_dest.codigo %>
</div>

<br/>
<% if @movimentacao.tipo != 'D' %>
    <%= link_to 'Voltar', cliente_contas_path(@cliente) %>
<% else %>
    <%= link_to 'Voltar', caixa_index_path %>
<% end %>