<!DOCTYPE html>
<html>
<head>
  <title>Caixa Eletrônico</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="/assets/ruby.ico"></head>
<body>
<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Banco RoR", root_path, :class => "navbar-brand" %> #
    </div>
    <ul class="nav navbar-nav navbar-right">
      <%= render 'layouts/top_menu' %>
      <% if !cliente_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in"></span> Entrar</a>
            <ul id="login-dp" class="dropdown-menu">
              <li>
                <div class="row">
                  <div class="col-md-12">
                    <%= render '/clientes/sessions/login' %>
                  </div>
                </div>
              </li>
            </ul>
          </li>
      <% end %>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row profile">
    <% if cliente_signed_in? %>
      <%= render "layouts/user_side_menu" %>
    <% end %>
    <div class="<%= cliente_signed_in? ? 'col-md-9' : 'col-md-12' %>">
     <%= render "layouts/content" %>
    </div>
  </div>
</div>
</body>

</html>
